@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




/* Style général de la carte Pokémon */
.pokemon-card {
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  z-index: 1; /* Ajouté pour s'assurer que la carte reste en dessous des boutons */
}

.change-buttons {
  position: fixed;
  bottom: 20px;
  z-index: 2; /* Ajouté pour s'assurer que les boutons restent au-dessus de la carte */
}


.name-hp {
  display: flex; /* Flexbox pour aligner le nom et les HP sur la même ligne */
  align-items: center; /* Centrer verticalement */
  gap: 10px; /* Espacement entre le nom et les HP */
}

.pokemon-name {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin: 0;
  text-transform: uppercase;
}

.pokemon-img {
  width: 280px;
  height: 280px;
  border-radius: 30%;
  margin: 20px 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.types {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.stats {
  color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.stats h3 {
  font-size: 1.2em;
  font-weight: normal;
  color: #333;
}

.hp {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin: 0;
}

/* Effet hover sur la carte pour un effet interactif */
.pokemon-card:hover {
  transform: scale(1.05); /* Légère augmentation de la taille */
  transition: all 0.3s ease-in-out;
}

.favorite-icon {
  position: absolute;
  bottom: 10px; /* en bas au lieu de top */
  right: 10px;  /* toujours à droite */
  transition: transform 0.2s ease;
}

.favorite-icon:hover {
  transform: scale(1.2);
}

